# ROM
*.gb
*.sgb
*.gbc
*.sym
*.map
*.sav
*.sn1
*.rtc
!shim.sym

# build artifacts
build/
*.d
*.o
*.2bpp
*.1bpp
*.pic
*.pcm
shim.asm

# build utilities
tools/scan_includes
tools/pkmncompress
tools/gfx
*.exe
*.pyc

# editor files
*~
.idea/

# extra utilities
coverage.png
coverage.log
temp/
pokegold-spaceworld-gen.link