# ROM
*.gb
*.sgb
*.gbc
*.sym
*.map
*.sav
*.sn*
*.rtc
!shim.sym

# build artifacts
/build
rgbdscheck.o

# build tools
tools/scan_includes
tools/pkmncompress
tools/gfx
*.exe
*.pyc
__pycache__

# utility output
/coverage.png

# macos files
.DS_STORE
