*.gb
*.sgb
*.gbc
*.sav
*.sn1
*.rtc

*.d
*.o
# converted image data
*.2bpp
*.1bpp
*.pic
*.pcm
*.map
pokegold-spaceworld.sym
shim.asm

*~

; binaries
*.exe
tools/scan_includes
tools/pkmncompress
tools/gfx
build/
